#navbar {
    display: none;
}

.quote-landing-header {
    margin-bottom: 1em;
}

.quote-landing-img-wrapper {
    display: inline-block;
}

.quote-landing-img-wrapper img {
    border: 1px solid lightgrey;
}

.quote-landing-prompt {
    margin: 1em 0;
    font-size: 2em;
}

.quote-landing-text {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
}

.quote-landing-decision {
    float: right;
}

.quote-buy-form {
    display: inline-block;
}

.quote-buy-btn {
    font-weight: 600 !important;
}

.quote-landing-price {
    color: #00697b;
}

.quote-landing-text > h3 {
    margin-bottom: .5em;
}

.quote-email-form {
    display: inline-block;
}

button.quote-email-btn {
    font-weight: 600 !important;
}
